* {
	font-family: "Arial";
}

body {
	margin: 0;
}

.mainContent {
	vertical-align: top;
	display: inline-block;
}

.topBar {
	display: block;
	background-color: 242832;
	color: ffffff;
	padding: 8;
}

.topBar a:link {
	color: ffffff;
}

.topBar a:visited {
	color: aaaaaa;
}

.leftBar {
	vertical-align: top;
	display: inline-block;
	background-color: d0d4d8;
	color: 242832;
	padding: 0;
}

.leftBar h2, h4 {
	padding-left: 8;
	padding-right: 8;
}

.leftBar ul {
	padding: 0;
	list-style-type: none;
}

.leftBar a:link, a:visited {
	display: block;
	padding-top: 2;
	padding-bottom: 2;
	line-height: 1.4;
	color: 242832;
	padding-left: 24;
	text-decoration: none;
}

.navItem {

}

.navItem.selectedItem {
	background-color: white;
}

.controlItem {
	display: block;
	font-style: italic;
	line-height: 1.4;
}

.world {
	display: block;
	visibility: hidden;
}

.world.selectedWorld {
	visibility: visible;
}

.warp {

}

.warp.twoWay {

}

.warp.oneWay {

}

.warp.unlinked {

}

.warp.deadEnd {

}

.warp.keyLocation {

}

.context-menu-item {
		min-height: 18px;
		background-repeat: no-repeat;
		background-position: 4px 4px;
	}
    
.context-menu-item.context-menu-icon-checked {
	background-image: url("./icons/checkmark.png");
}