* {
	font-family: "Arial";
}

.hdiv {
	vertical-align: top;
	display: inline-block;
}

.vdiv {
	display: block;
}

.navItem {
	display: block;
	line-height: 1.4;
}

.navItem.selectedItem {
	color: red;
}

.controlItem {
	display: block;
	font-style: italic;
	line-height: 1.4;
}

.world {
	visibility: hidden;
}

.world.selectedWorld {
	visibility: visible;
}

.warp {

}

.warp.twoWay {

}

.warp.oneWay {

}

.warp.unlinked {

}

.warp.deadEnd {

}

.warp.keyLocation {

}