* {
	font-family: "Arial";
}

.hdiv {
	vertical-align: top;
	display: inline-block;
}

.vdiv {
	display: block;
}

.navItem {
	display: block;
	line-height: 1.4;
}

.navItem.selectedItem {
	color: red;
}

.controlItem {
	display: block;
	font-style: italic;
	line-height: 1.4;
}

.world {
	visibility: hidden;
}

.world.selectedWorld {
	visibility: visible;
}

.warp {

}

.warp.twoWay {

}

.warp.oneWay {

}

.warp.unlinked {

}

.warp.deadEnd {

}

.warp.keyLocation {

}

.context-menu-item {
		min-height: 18px;
		background-repeat: no-repeat;
		background-position: 4px 4px;
	}
    
.context-menu-item.context-menu-icon-checked {
	background-image: url("./icons/checkmark.png");
}